@media only screen and (min-width:320px) and (max-width:982px){
 html,body{overflow-x: hidden;}

 .navigation ul{
    white-space: nowrap;
    overflow-x: scroll;
    display: block !important;
    overflow-y: hidden;
 }
 .navigation ul::-webkit-scrollbar{
   display: none !important;
}
  .navigation ul li{ display: inline-block; vertical-align: top !important;}
 
  .container{
    width: 98% !important; max-width: 98% !important;
  }
}

@media only screen and (min-width:320px) and (max-width:767px){
  .MuiTabs-flexContainer button{font-size: 13px !important;}
  .productItem .addToCartBtn{padding: 7px 13px !important;}

  .part2_coll li a,.part2_col2 li a{font-size: 13px !important;}

  .sidebar{max-height: 100vh !important; overflow-y: scroll !important; overflow-x: hidden !important;}
  .sidebar::-webkit-scrollbar{display: none !important;}

  .zoomProductsliderThumbs.space .swiper-wrapper{padding-top: 0px !important;}

  .cartPanel .MuiPaper-root,.addressPanel .MuiPaper-root{width: 300px !important;}
}


@media only screen and (min-width:320px) and (max-width:575px){
  .cartPanel .MuiPaper-root,.addressPanel .MuiPaper-root{width: 300px !important;}
}
@media only screen and (min-width:575px) and (max-width:767px){
  .cartPanel .MuiPaper-root,.addressPanel .MuiPaper-root{width: 400px !important;}
}