.adsSwiper {
  padding: 5px 0;
}

.adsSwiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bannerBox img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  color: #000;
  background: #fff;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  box-shadow: 0 2px 10px rgba(0,0,0,0.25);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px;
  font-weight: bold;
}
